/*Style Forgot Password*/
body{
  font-family: 'Nunito', sans-serif;
}

.header-forgot{
  background-image: url(./images/header-forgot.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-forgot .header-content{
  background-color:rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-forgot .header-content .header-nav{
  margin: 0 89px;
  padding-top: 74px;

}

.header-forgot .header-content .header-nav i{
  font-size: 30px;
  margin-right: 76px;
}

.header-forgot .header-content .header-nav span{
  font-size: 24px;
}

.header-forgot .header-content h1.heading{
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  line-height: 85px;
  margin-top: 40px;
  margin-bottom: 83px;
}

.header-forgot .header-content form div{
  text-align: center;
}

.header-forgot .header-content form div input{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus{
  outline: none;
}

.header-forgot .header-content form div input::placeholder{
  color: white;
}

.header-forgot .header-content form div button.button-send{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 900;
  background-color: #4FBDBA;
  margin-bottom: 54px;
}

.header-forgot .header-content .text{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
}

.header-forgot .header-content .text span{
  font-weight: 900;
}

/* Style Footer */
footer.footer{
  background-color: #F9F9FB;
}

footer.footer-home{
  margin-top: 69.16px;
  background-color: #F9F9FB;
}

footer.footer .container{
  padding-top: 69.16px;
}

footer.footer-home .container{
  padding-top: 69.16px;
}

footer.footer .row.text{
  margin-bottom: 78.04px;
}

footer.footer-home .row.text{
  margin-bottom: 78.04px;
}

footer.footer ul{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 38px;
  color: #848484;
}

footer.footer-home ul{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 38px;
  color: #848484;
}

footer.footer .description{
  width: 260px;
  margin-top: 26.27px;
  margin-bottom: 53px;
  line-height: 28px;
}

footer.footer-home .description{
  width: 260px;
  margin-top: 26.27px;
  margin-bottom: 53px;
  line-height: 28px;
}

footer.footer .link-social{
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer-home .link-social{
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer .link-social i{
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

footer.footer-home .link-social i{
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

/*Style Login*/
.header-login{
  background-image: url(./images/header-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-login .header-content{
  background-color:rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-login .header-content h1.heading{
  font-family: 'Playfair Display', serif;;
  font-weight: 700;
  font-size: 64px;
  padding-top: 107px;
  line-height: 85px;
}

.header-login .header-content p{
  font-weight: 700;
  margin-top: 43px;
}

.header-login .header-content div button.button-dark{
  width: 391px;
  height: 79px;
  font-size: 24px;
  font-weight: 900;
  border-radius: 10px;
  color: #AEFEFF;
}

.header-login .header-content div.accs{
  width: 20px;
  height: 650px;
  display: flex;
  justify-content: right;
  padding: 0 0 0 0;
}

.header-login .header-content div div.circle1{
  text-align: center;
  height: 20px;
  width: 20px;
  margin-top: 107px;
  border-radius: 10px;
  background: white;
}

.header-login .header-content div div.line1{
  background: white;
  flex: 1;
  width: 1px;
}

.header-login .header-content div div.circle2{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: white;
}

.header-login .header-content div input.email{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 160px;
  margin-left: 120px;
}

.header-login .header-content div input.password{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-left: 120px;
}

.header-login .header-content div input:focus{
  outline: none;
}

.header-login .header-content div input.email:read-write,
.header-login .header-content div input.password:read-write{
  padding-left: 41px;
}

.header-login .header-content div input.email::placeholder,
.header-login .header-content div input.password::placeholder{
  color: #FFFFFF
}

.header-login .header-content div p.forgot{
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  line-height: 28px;
  text-decoration: underline;
  color: white;
  margin-top: 0;
  margin-left: 120px;
}

.header-login .header-content div button.button-login{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color: #4FBDBA;
  font-weight: 900;
  font-size: 24px;
}

.header-login .header-content div button.button-login-google{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color:white;
  font-weight: 900;
  font-size: 24px;
}

/*Style Register*/

.header-register{
  background-image: url(./images/header-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-register .header-content{
  background-color:rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-register .header-content h1.heading{
  font-family: 'Playfair Display', serif;;
  font-weight: 700;
  font-size: 64px;
  padding-top: 107px;
  line-height: 85px;
}

.header-register .header-content p{
  font-weight: 700;
  margin-top: 43px;
}

.header-register .header-content div button.button-dark{
  width: 391px;
  height: 79px;
  font-size: 24px;
  font-weight: 900;
  border-radius: 10px;
  color: #AEFEFF;
}

.header-register .header-content div.accs{
  width: 20px;
  height: 650px;
  display: flex;
  justify-content: right;
  padding: 0 0 0 0;
}

.header-register .header-content div div.circle1{
  text-align: center;
  height: 20px;
  width: 20px;
  margin-top: 107px;
  border-radius: 10px;
  background: white;
}

.header-register .header-content div div.line1{
  background: white;
  flex: 1;
  width: 1px;
}

.header-register .header-content div div.circle2{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: white;
}

.header-register .header-content div input.name{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 130px;
  margin-left: 120px;
}

.header-register .header-content div input.email{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 24;
  margin-left: 120px;
}

.header-register .header-content div input.password{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 24;
  margin-left: 120px;
}

.header-register .header-content div input:focus{
  outline: none;
}

.header-register .header-content div input.name:read-write,
.header-register .header-content div input.email:read-write,
.header-register .header-content div input.password:read-write{
  padding-left: 41px;
}

.header-register .header-content div input.name::placeholder,
.header-register .header-content div input.email::placeholder,
.header-register .header-content div input.password::placeholder{
  color: #FFFFFF;
}

.header-register .header-content div button.button-signup{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color: #4FBDBA;
  font-weight: 900;
  font-size: 24px;
}

.header-register .header-content div button.button-signup-google{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color:white;
  font-weight: 900;
  font-size: 24px;
}

/*Style Navbar*/
nav.navbar{
  height: 162px;
}

nav.container {
  padding-top: 81px;
}

nav.container .link {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.container .link li {
  display: inline-block;
  margin: 0 17.5px;
}

nav.container .link li a {
  color: #B8BECD;
  text-decoration: none;
}

nav.container .link li a.active {
  color: #000;
}

button {
  min-width: 132px;
  min-height: 44px;
  border-radius: 8px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #4FBDBA;
  /* border-width: 1px;
  border-color: #FFCD61;
  border-style: solid; */
}

.button-filled {
  background-color: #4FBDBA;
  border: unset;
}

.button-dark {
  background-color: #072227;
  border: unset;
}

.button-gray {
  background-color: rgba(203, 203, 212, 0.27);
  border: unset;
}

img.img-rounded-circle{
  border-radius: 30px;
  margin-left: 38px;
}

/*Style Home*/
.header-home{
  background-image: url(./images/header-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-home .header-content{
  background-color:rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-home .header-content .header-nav span{
  font-size: 24px;
}

.header-home .header-content h1.heading2{
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: bold;
  line-height: 85px;
  padding-top: 69px;
}

.header-home .header-content p.text2{
  font-size: 22px;
  text-align: left;
  font-weight: 900;
  line-height: 85px;
  margin-bottom: 0px;
}

.header-home .header-content div.line2{
  background:white;
  width: 32px;
  height: 2px;
  border-radius: 4px;
}

.header-home .header-content div.option{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.header-home .header-content div.select-option{
  margin: 0 0 0 0;
}

.header-home .header-content div select.form-select{
  width: 220px;
  height: 52px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding-left: 25px;
  padding-right: 25px;
  color: #393939;
}

.header-home .header-content form div{
  text-align: left;
}

.header-home .header-content form div button.button-filled{
  width: 180px;
  height: 52px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 900;
}

.header-home .header-content .text{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
}

.header-home .header-content .text span{
  font-weight: 900;
}

section h2.home {
  margin-top: 82px;
  margin-bottom: 56px;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

section .direction{
  margin-top: 90px;
  text-align: right;
}

section .direction a{
  font-weight: 400;
}

section h2.testimonials {
  margin-top: 82px;
  margin-bottom: 56px;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

main section img {
  border-radius: 10px;
  margin-bottom: 15px;
}

main section a {
  text-decoration: none;
}

main section .highlight {
  margin-top: -54px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
}

main section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}

main section .highlight span {
  font-size: 17px;
  color: #686767;
}

section.testimonials .left-testi {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.testimonials .comment i {
  color:#FFBB0C;
  margin-right: 15px;
}

section.testimonials .comment p {
  margin-top: 31px;
  margin-bottom: 40px;
  width: 450px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Mulish', sans-serif;
}

section.testimonials .profile h5 {
  font-weight: bold;
}

section.testimonials .profile-pic .image {
  margin: 0 auto;
  width: 396px;
}

section.testimonials .profile-pic img {
  border-radius: 10px;
  width: 396px;
}

section.testimonials .profile-pic .next-prev {
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin-top: -70px;
  width: 132px;
  height: 60px;
  border-radius: 16px 0px 0px 0px;
}

section.testimonials .profile-pic button.prev{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  min-height: unset;
  min-width: unset;
  border: 2px solid #D7D7D7 ;
  top: 10px;
  bottom: 25px;
  right: 80px;
}

section.testimonials .profile-pic button.next{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  min-height: unset;
  min-width: unset;
  border: 2px solid #4FBDBA ;
  top: 10px;
  bottom: 25px;
  right: 15px;
}

section.testimonials .profile-pic .next i{
  color: #686767;
}

/* Style Profile */

section.profile h2.page-name{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 22px;
}

section.profile form div{
  text-align: center;
}

section.profile img.img-rounded-circle{
  border-radius: 100px;
  margin-left: 0px;
  margin-bottom: 23px;
}

section.profile h2.username{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 30px;
}

section.profile div.profile-desc p{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #B8BECD;
  margin-bottom: 57px;
}

section.profile-edit{
  font-family: 'Nunito', sans-serif;
}

section.profile-edit label{
  font-weight: 700;
}

section.contact h5{
  font-weight: 900;
}

section.identity h5{
  font-weight: 900;
}

.input-underline {
  border: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 26px;
  height: 40px;
}

.input-underline:focus {
  outline: none;
}

section.contact label{
  color: #9F9F9F;
}

section.identity label{
  color: #9F9F9F;
}

section.button .button-filled,
section.button .button-dark,
section.button .button-gray {
  width: 322px;
  height: 89px;
  font-weight: 900;
  font-size: 24px;
}

section.button .button-dark{
  color: #4FBDBA;
}

@media (max-width: 500px) {
  .header-forgot .header-content {
    padding: 0 10px;
  }

  .header-forgot .header-content form div input {
    width: 100%;
  }

  .header-forgot .header-content form div button.button-send {
    width: 100%;
  }
  section.testimonials .comment p{
    width: 100%;
  }
  section.testimonials .profile-pic img{
    width: 100%;
  }
  footer.footer-home .description{
    width: 100%;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 991px) {
    .toggled-action {
      text-align: center;
    }
    .icon-profile{
      text-align: center;
    }
    section.profile{
      padding-top: 100px;
    }
    section.button .button-filled,
    section.button .button-dark,
    section.button .button-gray {
      width: 90px;
      height: 50px;
      font-weight: 900;
      font-size: 12px;
    } 
    .header-home .header-content h1.heading2{
      font-size: 54px;
      text-align: center;
      padding-top: 10px;
    }
    .header-home .header-content p.text2{
      text-align: center;
    }
}

@media (max-width: 1439px) {
  .navigation {
    height: 80px;
  }

.logo-brand {
  justify-content: center;
}

.auth-action {
  text-align: center;
  }
}