/*Style Forgot Password*/
body{
  font-family: 'Nunito', sans-serif;
}

.header-forgot{
  background-image: url(./images/header-forgot.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-forgot .header-content{
  background-color:rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-forgot .header-content .header-nav{
  margin: 0 89px;
  padding-top: 74px;

}

.header-forgot .header-content .header-nav i{
  font-size: 30px;
  margin-right: 76px;
}

.header-forgot .header-content .header-nav span{
  font-size: 24px;
}

.header-forgot .header-content h1.heading{
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  line-height: 85px;
  margin-top: 40px;
  margin-bottom: 83px;
}

.header-forgot .header-content form div{
  text-align: center;
}

.header-forgot .header-content form div input{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus{
  outline: none;
}

.header-forgot .header-content form div input::placeholder{
  color: white;
}

.header-forgot .header-content form div button.button-send{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 900;
  background-color: #4FBDBA;
  margin-bottom: 54px;
}

.header-forgot .header-content .text{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
}

.header-forgot .header-content .text span{
  font-weight: 900;
}

footer.footer{
  margin-top: 69.16px;
}

footer.footer .row.text{
  margin-bottom: 78.04px;
}

footer.footer ul{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 38px
}

footer.footer .description{
  width: 260px;
  margin-top: 26.27px;
  margin-bottom: 53px;
  line-height: 28px;
}

footer.footer .link-social{
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer .link-social i{
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

/*Style Login*/
.header-login{
  background-image: url(./images/header-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-login .header-content{
  background-color:rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-login .header-content h1.heading{
  font-family: 'Playfair Display', serif;;
  font-weight: 700;
  font-size: 64px;
  width: 550px;
  padding-top: 107px;
  padding-left: 139px;
  line-height: 85px;
}

.header-login .header-content p.signup{
  font-weight: 700;
  margin-top: 43px;
  padding-left: 139px;
}

.header-login .header-content div button.button-signup{
  width: 391px;
  height: 79px;
  margin-left: 138px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  background-color: #072227;
  color: #AEFEFF;
}

.header-login .header-content div input.email{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 166px;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-login .header-content div input.password{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 24;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-login .header-content div input:focus{
  outline: none;
}

.header-login .header-content div p.forgot{
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  line-height: 28px;
  text-decoration: underline;
  color: white;
  margin-top: 0;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-login .header-content div button.button-login{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 19px;
  background-color: #4FBDBA;
  font-weight: 900;
  font-size: 24px;
}

.header-login .header-content div button.button-login-google{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 19px;
  background-color:white;
  font-weight: 900;
  font-size: 24px;
}

.header-login .header-content div input.email::placeholder{
  color: white;
  padding-left: 41px;
}

.header-login .header-content div input.password::placeholder{
  color: white;
  padding-left: 41px;
}

/*Style Register*/

.header-register{
  background-image: url(./images/header-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-register .header-content{
  background-color:rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-register .header-content h1.heading{
  font-family: 'Playfair Display', serif;;
  font-weight: 700;
  font-size: 64px;
  width: 550px;
  padding-top: 107px;
  padding-left: 139px;
  line-height: 85px;
}

.header-register .header-content p.signup{
  font-weight: 700;
  margin-top: 43px;
  padding-left: 139px;
}

.header-register .header-content div button.button-login{
  width: 391px;
  height: 79px;
  margin-left: 138px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  background-color: #072227;
  color: #AEFEFF;
}

.header-register .header-content div input.name{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 140px;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-register .header-content div input.email{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 24;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-register .header-content div input.password{
  width: 447px;
  height: 79px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 24;
  margin-bottom: 31px;
  margin-left: 120px;
}

.header-register .header-content div input:focus{
  outline: none;
}

.header-register .header-content div button.button-signup{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color: #4FBDBA;
  font-weight: 900;
  font-size: 24px;
}

.header-register .header-content div button.button-signup-google{
  width: 446px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 24px;
  background-color:white;
  font-weight: 900;
  font-size: 24px;
}

.header-register .header-content div input.name::placeholder{
  color: white;
  padding-left: 41px;
}

.header-register .header-content div input.email::placeholder{
  color: white;
  padding-left: 41px;
}

.header-register .header-content div input.password::placeholder{
  color: white;
  padding-left: 41px;
}

/*Style Home*/
.header-home{
  background-image: url(./images/header-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
}

.header-home .header-content{
  background-color:rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-home .header-content .header-nav span{
  font-size: 24px;
}

.header-home .header-content h1.heading2{
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: bold;
  line-height: 85px;
  padding-top: 69px;
  padding-left: 121px;
  margin-bottom: 0;
}

.header-home .header-content p.text2{
  font-size: 22px;
  text-align: left;
  font-weight: 900;
  line-height: 85px;
  padding-left: 121px;
  padding-top: 20px;
  margin-bottom: 0;
}

.header-home .header-content div.line2{
  background:white;
  width: 32px;
  height: 2px;
  margin-left: 123px;
  border-radius: 4px;
  margin-bottom: 48px;
}

.header-home .header-content div select.location{
  width: 220px;
  height: 52px;
  margin-left: 123px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  padding-left: 31px;
  font-weight: 700;
  color: #393939;
}

.header-home .header-content div select.type{
  width: 220px;
  height: 52px;
  margin-left: 30px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  padding-left: 31px;
  font-weight: 700;
  color: #393939;
}

.header-home .header-content div select.payment{
  width: 220px;
  height: 52px;
  margin-top: 35px;
  margin-left: 123px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  padding-left: 31px;
  font-weight: 700;
  color: #393939;
}

.header-home .header-content div select.date{
  width: 220px;
  height: 52px;
  margin-left: 30px;
  margin-top: 35px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  padding-left: 31px;
  font-weight: 700;
  color: #393939;
}

.header-home .header-content form div{
  text-align: left;
}

.header-home .header-content form div button.button-explore{
  width: 180px;
  height: 52px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 900;
  background-color: #4FBDBA;
  margin-top: 51px;
  margin-left: 122px;
}

.header-home .header-content .text{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
}

.header-home .header-content .text span{
  font-weight: 900;
}

/*Style Navbar*/
nav.container {
  padding-top: 81px;
}

nav.container .link {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.container .link li {
  display: inline-block;
  margin: 0 17.5px;
}

nav.container .link li a {
  color: #B8BECD;
  text-decoration: none;
}

nav.container .link li a.active {
  color: #000;
}

button {
  min-width: 132px;
  min-height: 44px;
  border-radius: 8px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #4FBDBA;
  /* border-width: 1px;
  border-color: #FFCD61;
  border-style: solid; */
}

.button-filled {
  background-color: #4FBDBA;
  border: unset;
}

@media (max-width: 500px) {
  .header-forgot .header-content{
    padding: 0 10px;
  }
  .header-forgot .header-content form div input{
    width: 100%;
  }
  .header-forgot .header-content form div button.button-send{
    width: 100%;
  }
  .header-login .header-content{
    padding: 0 10px;
  }
  .header-login .header-content div button.button-signup{
    width: 100%
  }
  .header-login .header-content div input.email{
    width: 100%
  }
  .header-login .header-content div input.password{
    width: 100%
  }
  .header-login .header-content div button.button-login{
    width: 100%
  }
  .header-login .header-content div button.button-login-google{
    width: 100%
  }
}